src/main/mule/my-first-project-alekhya.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78021edc-bda0-4cd9-acdd-1315f7e1b931" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-first-project-alekhyaFlow" doc:id="162227cb-22c2-41b7-b9bf-b8a49ad47ca0" >
		<http:listener doc:name="Listener" doc:id="f0160295-d244-4b59-9aa7-98155c884f2d" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='#["alekhyareddy"]' doc:name="Set Payload" doc:id="26037833-fcb4-4868-a6d3-38bcb34d3e98" />
	</flow>
</mule>
